:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-family: "Sofia Sans", sans-serif;

  --font-color: #323232;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: baseline;
  margin-bottom: 25px;
  margin-top: -10px;
}

h1 {
  font-size: xx-large;
  display: block;
  margin-bottom: var(--spacing-2);
}

.subheadings {
  font-weight: 600;
  font-size: large;
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin-left: auto;
}

.subheading {
  margin: var(--spacing-1);
}

li {
  display: list-item;
}

a {
  text-decoration: none;
  color: #407b99;
}

.header-one {
  color: #99222d;
}

.bio-pic {
  border-radius: 50%;
}

.about-me {
  display: flex;
  grid-column-start: span;
  margin-bottom: 100px;
}

.about-me-heading {
  color: #4d151a;
  font-weight: 700;
}

.about-me-text {
  font-size: large;
  margin-right: 200px;
  text-justify: inter-word;
  text-align: justify;
}

.projects-heading {
  color: #99222d;
  margin-bottom: 20px;
  text-align: center;
}

.projects {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.projects-images {
  display: inline-flex;
  gap: 50px;
}

.project-image {
  border-radius: 5%;
}

.languages-heading {
  font-weight: bold;
  color: #4d151a;
  text-align: center;
}

.language-icon {
  font-size: 3em;
  width: 1.3em;
}

#csharp {
  font-size: 2em;
  width: 1.3em;
}

.languages-container {
  justify-content: center;
  display: flex;
  align-items: center;
}
